[submodule "sokol-sys/external/sokol"]
	path = sokol-sys/external/sokol
	url = https://github.com/floooh/sokol.git
[submodule "sokol-stb/src/stb"]
	path = sokol-stb/src/stb
	url = https://github.com/nothings/stb.git
[submodule "sokol-sys/external/imgui"]
	path = sokol-sys/external/imgui
	url = https://github.com/ocornut/imgui.git
